/* Container */
section {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    gap: 5rem;
}

section img {
    width: 85%;
    border-radius: 20px;
}

section div {
    position: relative;
    background-color: #F2F2F2;
    padding: 1rem 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section div img {
    width: 30%;
    position: absolute;
    opacity: 0.1;
}

section div p {
    z-index: 999999;
    color: black;
    font-weight: bold;
    text-align: center;
}